
.campo-pesquisa{
    display: flex;
    justify-content: center;
    width: 500px;
}

.campo-pesquisa input {
    width: 80%;
    padding: 8px;
    background: transparent;
    border-radius: 20px 0 0 20px;
    border: solid 2px #afafaf;
    color: #fff;
    border-right: none;
    font-size: 1rem;
}

.campo-pesquisa input:focus {
    outline: none;
    background: #1d1d1d48;
}

 .campo-pesquisa input::placeholder{
    color: #a0a0a0;
}

.campo-pesquisa button {
    border: none;
    padding: 6px;
    font-size: 1rem;
    transition: ease-in 0.3s;
    border: solid 2px #afafaf;
    color: #fff;
    background: transparent;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

button:hover {
    background: #ffffff;
    color: #02134d;
}

