
.container-opcoes{
  display: flex;
  gap: 50px;
}

.opcoes{
  display: flex;
  align-items: center;
  gap: 40px;
}

.opcao{
    list-style: none;
    min-width: 120px;
    cursor: pointer;

}

.opcao:hover{
  font-weight: 500;
}